/* == IMPORTS == */

@import url(fonts.css);
@import url(slider.css);
@import url(modals.css);
@import url(responsive-applicant-header.css);
@import url(responsive-applicant.css);

/* == IMPORTS ENDS HERE == */
/* == GLOBAL DESIGN == */

* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: 'Century Gothic';
	font-size: 18px;
}
.loading-container{
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 1;
	display: none;
}

#loading {
	width: 30px;
	height: 30px;
	border: 5px solid #ccc;
	border-top-color: #ddd;
	border-radius: 100%;
	margin-left: 10px;
	display: none;
	animation: round .5s linear infinite;
}
@keyframes round {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
} 

/* == GLOBAL DESIGN ENDS HERE == */