/* == IMPORTS == */

@import url(fonts.css);
@import url(slider.css);
@import url(modals.css);
@import url(responsive-applicant-header.css);
@import url(responsive-applicant.css);

/* == IMPORTS ENDS HERE == */
/* == GLOBAL DESIGN == */

* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: 'Century Gothic';
	font-size: 18px;
}

/* == GLOBAL DESIGN ENDS HERE == */