/* == HEADER DESIGN == */

.header-container {
	float: left;
	position: fixed;
	width: 100%;
	height: 84px;
	background-color: rgb(255, 255, 255);
	border-top: solid 5px rgb(4, 80, 140);
	border-bottom: solid 1px rgb(230, 230, 230);
	z-index: 3;
}

	.header-container .header-title {
		float: left;
		width: 35%;
		height: 100%;
	}

		.header-title a {
			text-decoration: none;
			color: rgb(30, 30, 30);
		}

			.header-title a img {
				float: left;
				width: 18%;
				height: 90%;
				margin: 1% 2% 0px 3%;
			}

			.header-title a h1 {
				float: left;
				width: 75%;
				height: 90%;
				font-family: 'Gentona';
				font-size: 160%;
				line-height: 20px;
				padding: 3.5% 0px;
				color: rgb(30, 30, 30);
			}

	.header-container .header-nav {
		float: left;
		width: 65%;
		height: 100%;
	}

		.header-nav .header-nav-main {
			float: left;
			position: relative;
			width: 98%;
			height: 50%;
			margin-top: 5%;
		}

			.header-nav-main a {
				float: left;
				text-decoration: none;
				display: inline-block;
				text-decoration: none;
				font-family: 'Century Gothic';
				font-size: 80%;
				text-transform: uppercase;
				color: rgb(50, 50, 50);
				padding: 8px 20px;
				transition: all 0.2s ease-in-out;
			}

			.header-nav-main a:hover, .header-nav-main .activeBtn {
				color: rgb(4, 80, 140);
				transition: all 0.2s ease-in-out;
				transform: scale(1.1, 1.1);
				font-weight: bold;
			}

			.header-nav-main a:nth-child(6) {
				float: right;
				background-color: rgb(4, 80, 140);
				border-radius: 3px;
				color: rgb(255, 255, 255);
				font-weight: bold;
				cursor: pointer;
			}

			.header-nav-main a:nth-child(7) {
				float: right;
				margin-right: 10px;
				border: solid 1px rgb(210, 210, 210);
				border-radius: 3px;
				cursor: pointer;
			}

			.header-nav-main a:nth-child(7):hover {
				background-color: rgb(4, 80, 140);
				color: rgb(255, 255, 255);
				transform: none;
				transition: all 0.2s ease-in-out;
			}

	.header-container .header-nav-respo {
		float: left;
		width: 100%;
		display: none;
	}

/* == HEADER DESIGN ENDS HERE == */
/* == FOOTER DESIGN == */

.footer-container {
	float: left;
	width: 100%;
	position: relative;
}

	.footer-container .footer-one-two {
		float: left;
		width: 100%;
		display: inline-block;
		border-top: solid 1px rgb(230, 230, 230)
	}

		.footer-one-two:first-child {
			padding: 30px 0px;
		}

			.footer-one-two:first-child .one-three {
				float: left;
				width: 25%;
				height: 100%;
				display: inline-block;
			}

				.footer-one-two:first-child .one-three:first-child {
					margin-left: 7.5%;
				}

					.footer-one-two:first-child .one-three:first-child h2 {
						float: left;
						width: 100%;
						font-family: 'Gentona';
						font-size: 150%;
						color: rgb(4, 80, 140);
						text-transform: uppercase;
						margin-bottom: 40px;
					}

					.footer-one-two:first-child .one-three:first-child img {
						float: left;
						width: 6%;
						height: 20px;
						padding-right: 2%;
					}

					.footer-one-two:first-child .one-three:first-child p {
						float: left;
						width: 92%;
						margin-bottom: 15px;
						font-family: 'Century Gothic';
						font-size: 95%;
					}

					.footer-one-two:first-child .one-three:first-child a {
						float: left;
						display: inline-block;
						text-decoration: none;
						margin-top: 20px;
						padding: 8px 5%;
						text-align: center;
						text-transform: uppercase;
						font-family: 'Gentona';
						font-size: 110%;
						color: rgb(255, 255, 255);
					}

						.footer-one-two:first-child .one-three:first-child #fb-btn {
							background-color: rgb(69, 93, 146);
						}

						.footer-one-two:first-child .one-three:first-child #twitter-btn {
							background-color: rgb(29, 159, 239);
						}

						.footer-one-two:first-child .one-three:first-child #gmail-btn {
							background-color: rgb(220, 75, 62);
						}

				.footer-one-two:first-child .one-three:nth-child(2) {
					margin: 0px 5%;
				}

					.footer-one-two:first-child .one-three:nth-child(2) h2 {
						float: left;
						width: 100%;
						font-family: 'Gentona';
						font-size: 150%;
						color: rgb(4, 80, 140);
						text-transform: uppercase;
						margin-bottom: 40px;
						text-align: center;
					}

					.footer-one-two:first-child .one-three:nth-child(2) a {
						float: left;
						text-decoration: none;
						width: 100%;
						text-align: center;
						color: rgb(69, 93, 146);
						line-height: 30px;
					}

				.footer-one-two:first-child .one-three:last-child {
					margin-righ: 7.5%;
				}

					.footer-one-two:first-child .one-three:last-child h2 {
						float: left;
						width: 100%;
						font-family: 'Gentona';
						font-size: 150%;
						color: rgb(4, 80, 140);
						text-transform: uppercase;
						margin-bottom: 40px;
						text-align: center;
					}

					.footer-one-two:first-child .one-three:last-child a {
						float: left;
						display: inline-block;
						width: 100%;
						text-decoration: none;
						line-height: 25px;
						color: rgb(69, 93, 146);
						text-align: center;
					}

		.footer-one-two:last-child {
			float: left;
			width: 100%;
			padding: 8px 0px;
			background-color: rgb(4, 80, 140);
		}

			.footer-one-two:last-child p {
				font-size: 95%;
				color: rgb(255, 255, 255);
				text-align: center;
			}

/* == FOOTER DESIGN ENDS HERE == */