/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	/* HEADER DESIGN */
	#header-container {
		float: left;
		width: 100%;
		height: 70px;
		z-index: 2;
	}

		#header-container #header-title {
			float: left;
			width: 100%;
			margin: 0px;
			heigth: 70px;
			padding: 0px;
		}

			#header-title h1 {
				font-size: 200%;
			}

			#header-title h1 span {
				float: left;
				height: 70px;
				padding: 0px;
				color: #FF3D00;
				font-size: 130%;
				background-color: rgb(255, 255, 255);
				margin: -10px 0px 0px 20px;
			}

			#header-title #line {
				float: left;
				background-color: #5D4037;
				margin: 55px 0px 0px 25px;
			}

		#header-container #header-nav {
			float: left;
			width: 100%;
			height: 40px;
			overflow: hidden;
			display: block;
			margin-top: 70px;
			border-top: solid 1px rgb(250, 250, 250);
			background-color: rgb(255, 255, 255);
			box-shadow: 0px 5px 10px -9px rgb(0, 0, 0);
		}

			#header-nav a {
				float: left;
				width: 20%;
				height: 40px;
				text-align: center;
			}

				#header-nav a img {
					width: 35%;
					height: 25px;
					margin-top: 7.5px;
				}

			#header-nav a:hover, #header-nav #active {
				background-color: rgb(240, 240, 240);
				transition: all 0.5s ease-in-out;
			}

		#header-container #header-nav-user {
			float: left;
			width: 100%;
			height: 40px;
			overflow: hidden;
			display: block;
			margin-top: 70px;
			border-top: solid 1px rgb(250, 250, 250);
			background-color: rgb(255, 255, 255);
			box-shadow: 0px 5px 10px -9px rgb(0, 0, 0);
		}

			#header-nav-user a {
				float: left;
				width: 20%;
				height: 40px;
				text-align: center;
			}

				#header-nav-user a img {
					width: 35%;
					height: 25px;
					margin-top: 7.5px;
				}

			#header-nav-user a:hover, #header-nav-user #active {
				background-color: rgb(240, 240, 240);
				transition: all 0.5s ease-in-out;
			}
	/* HEADER ENDS HERE */
	/* SIDE NAV DESIGN */
	#side-nav {
		display: none;
	}
	/* SIDE NAV ENDS HERE */
	/* BODY CONTAINER  DESIGN */
	#body-container {
		float: left;
		width: 100%;
		margin: 110px 0px 0px 0px;
		background-color: rgba(255, 255, 255, 0.0);
	}
		/* BODY HOME */
		#body-container #body-home {
			float: left;
			width: 100%;
		}

			#body-home #slider-cover {
				float: left;
				width: 100%;
				margin-top: -650px;
			}

				#slider-cover h1 {
					float: left;
					margin: 80px 0px 0px 40px;
					font-size: 140%;
				}

				#slider-cover p {
					font-size: 70%;
					width: 70%;
					margin-left: 15%;
				}
		/* BODY HOME ENDS HERE */
		/* BODY ABOUT */
		#body-container #body-about {
			float: left;
			width: 100%;
			margin-top: -150px;
			padding: 40px 0px;
		}

			#body-about #about-half:first-child {
				float: left;
				width: 50%;
				height: 400px;
			}

				#about-half:first-child img {
					width: 80%;
					margin-left: 10%;
					heigth: 500px;
				}

			#body-about #about-half:last-child {
				float: left;
				width: 50%;
				padding: 0px;
			}

				#about-half:last-child h1 {
					font-size: 170%;
					margin-top: -60px;
				}

				#about-half:last-child p {
					font-size: 70%;
					width: 90%;
					text-align: justify;
					margin: -20px 0px 0px 2%;
				}

				#about-half:last-child a {
					float: left;
					padding: 10px 0px;
					width: 45%;
					font-size: 70%;
					text-align: center;
					margin: 40px 0px 0px 25.5%;
				}
		/* BODY ABOUT ENDS HERE */
		/* BODY FEATURES */
		#body-container #body-features {
			float: left;
			width: 100%;
			background-color: rgb(255, 255, 255);
		}

			#body-features h1 {
				font-size: 170%;
			}

			#body-features #line {
				width: 5%;
				margin-left: 47.5%;
			}

			#body-features p {
				font-size: 60%;
				margin-bottom: 10px;
			}

			#body-features #featured-fourth {
				float: left;
				width: 90%;
				height: 150px;
				margin-bottom: -35px;
				padding: 5%;
			}

				#featured-fourth img {
					float: left;
					width: 40%;
					height: 90px;
				}

				#featured-fourth #featured-info {
					float: left;
					width: 80%;
					margin: -70px 0px 0px 60px;
					padding: 10px 0px 0px 0px;
				}

					#featured-info p:first-child {
						font-size: 70%;
						width: 60%;
						margin: 10px 0px 0px 25%;
					}

					#featured-info p:last-child {
						font-size: 90%;
						margin: 10px 0px 10px 20%;
					}

			#body-features a {
				float: left;
				width: 20%;
				padding: 10px;
				font-size: 70%;
				text-align: center;
				margin: 100px 0px 0px 40%;
			}
		/* BODY FEATURES ENDS HERE */
		/* BODY MENU */
		#body-container #body-menu {
			float: left;
			width: 100%;
			background-color: rgb(255, 255, 255);
		}

			#body-menu h1 {
				font-size: 170%;
			}

			#body-menu p {
				font-size: 60%;
			}

			#body-menu a {
				float: left;
				width: 20%;
				font-size: 70%;
				margin-left: 40%;
				text-align: center;
			}
		/* BODY MENU ENDS HERE */
		/* BODY EVENTS */
		#body-container #body-events {
			float: left;
			width: 100%;
			height: 1450px;
		}

			#body-events h1 {
				font-size: 170%;
				margin-top: 40px;
			}

			#body-events p {
				font-size: 60%;
			}

			#body-events #one-third {
				float: left;
				width: 80%;
				margin: 0px 0px 10px 10%;
			}

				#one-third #one-third-box p  {
					font-size: 80%;
				}

				#one-third #one-third-box a {
					float: left;
					text-align: center;
					width: 30%;
					font-size: 70%;
					padding: 10px 0px;
					margin-left: 35%;
				}
		/* BODY EVENTS ENDS HERE */
		/* BODY FEEDBACK */
		#body-container #body-feedback {
			float: left;
			width: 100%;
			background-color: rgb(255, 255, 255);
		}

			#body-feedback #feedback-half:first-child {
				float: left;
				width: 100%;
			}

				#feedback-half:first-child h2 {
					font-size: 170%;
					margin: -40px 0px 80px 20px;
				}

				#feedback-half:first-child p {
					font-size: 80%;
				}

			#body-feedback #feedback-half:last-child {
				float: left;
				width: 100%;
			}

				#feedback-half:last-child h2 {
					font-size: 170%;
					margin: 80px 0px 40px 20px;
				}

				#feedback-half:last-child input, #feedback-half:last-child textarea {
					width: 92%;
					margin: 0px 0px 5px 2%;
					font-size: 70%;
				}

				#feedback-half:last-child input[type= "submit"] {
					width: 95%;
					margin-top: 20px;
					font-size: 70%;
				}
		/* BODY FEEDBACK ENDS HERE */
		/* BODY CAKE MENU */
		#body-container #body-cart {
			display: block;
			float: left;
			width: 100%;
			height: 40px;
			padding: 0px;
			background-image: url('../img/bg4.png');
		    background-size: 100% 100%;
		    background-repeat: no-repeat;
		}

			#body-cart h1 {
				font-size: 90%;
				float: left;
				margin: 15px 0px 0px 20px;
				color: rgb(255, 255, 255);
				font-family: 'Pasajero';
			}

			#body-cart a {
				float: right;
			}

			#body-cart a img {
				width: 60%;
				height: 30px;
				margin-top: 5px;
			}

			#body-cart p {
				float: right;
				margin-right: 10px;
				margin-top: 15px;
				font-size: 70%;
				color: rgb(255, 255, 255);
				font-family: 'Century Gothic';
			}

		#body-container #body-cake-menu {
			float: left;
			width: 100%;
			background-color: rgb(255, 255, 255);
		}

			#body-cake-menu #cake-item {
				float: left;
				width: 30%;
				margin: 20px 0px 20px 2%;
			}

				#cake-item img {
					height: 170px;
				}

				#cake-item h1 {
					font-size: 110%;
				}

				#cake-item p {
					font-size: 70%;
				}

				#cake-item #cake-price {
					font-size: 90%;
				}

				#cake-item input[type= "submit"] {
					font-size: 70%;
				}
		/* BODY CAKE MENU ENDS HERE */
		/* BODY LOGIN */
		#body-container #body-login {
			float: left;
			width: 100%;
			height: 650px;
			margin: 0px;
			padding: 0px;
			position: fixed;
		}

			#body-login h1 {
				font-size: 170%;
			}

			#body-login form {
				float: left;
				width: 80%;
				margin: 100px 0px 0px 10%;
				padding: 0px;
			}

				#body-login form #input-form {
					width: 100%;
					margin: 0px 0px 20px 0px;
				}

					#body-login form #input-form img {
						float: left;
						width: 15%;
						heigth: 20px;
						margin-left: 5%;
					}

					#body-login form #input-form input {
						width: 70%;
						float: left;
						font-size: 70%;
					}

					#body-login form #input-form #input-error {
						float: left;
						font-size: 70%;
						margin: 5px 0px 10px 70px;
					}

				#body-login input[type= "submit"] {
						font-size: 70%;
						width: 40%;
						float: right;
						margin-right: 15px;
						margin-top: 10px;
					}
		/* BODY LOGIN ENDS HERE */
		/* BODY REGISTER */
		#body-container #body-register {
			float: left;
			width: 100%;
			margin: 0px;
			padding: 0px 0px 40px 0px;
		}

			#body-register h1 {
				font-size: 170%;
				margin-top: 80px;
			}

			#body-register form {
				float: left;
				width: 80%;
				margin: 70px 0px 0px 10%;
				padding: 0px;
			}

				#body-register form #input-form {
					width: 100%;
					margin: 0px 0px 20px 0px;
				}

					#body-register form #input-form input, #body-register #input-form textarea {
						width: 90%;
						float: left;
						margin-left: 2%;
						font-size: 70%;
					}

					#body-register #input-form select {
						width: 95%;
						margin-left: 2%;
						font-size: 70%;
					}

					#body-register form #input-form #input-error {
						width: 100%;
						font-size: 70%;
						margin: 0px 0px 10px 10px;
					}

					#body-register form #input-form label {
						margin-left: 10px;
						font-size: 70%;
					}

				#body-register input[type= "submit"] {
						font-size: 70%;
						width: 40%;
						float: right;
						margin-right: 15px;
						margin-top: 10px;
					}
		/* BODY REGISTER ENDS HERE */
		/* BODY CART ITEMS */
		#body-container #body-cart-items {
			float: left;
			width: 100%;
			height: 500px;
			background-color: rgb(255, 255, 255);
		}

			#body-cart-items h1 {
				font-size: 120%;
			}

			#body-cart-items #cart-container {
				float: left;
				width: 90%;
			}

				#cart-container #cart-header {
					font-size: 60%;
					text-align: center;
				}

				#cart-container #cart-items {
					font-size: 70%;
				}

			#body-cart-items #cart-total {
				font-size: 80%;
			}

			#body-cart-items #checkout {
				float: left;
				margin: 30px 0px 0px 62%;
				font-size: 90%;
			}
		/* BODY CART ITEMS ENDS HERE */
	/* BODY ENDS HERE */
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}