/* login css */
@media screen and (max-width: 768px) and (min-width: 425px) {
    .login-form-container {
        width: 80%;
        height: auto;
        margin: 2% 10% 0px 10%;
    }
}

/* main css */
@media screen and (max-width: 768px) and (min-width: 520px) {

    .eval-user-info p {
        width: 80%;
        margin: 6px 6px;
    }
    .eval-user-info #exit {
        width: 15%;
    }
    .evaluation-form {
        width: 100%;
        height: 100%;
        margin: 0px;
        overflow-y: scroll;
    }
    .evaluation-form .eval-title {
        width: 100%;
        margin-left: 0px;
    }
    .evaluation-form .eval-options {
        width: 100%;
        margin-left: 0px;
    }
    .eval-options a {
        width: 33.33%;
    }
    .eval-title img {
        width: 15%;
        margin: 0px 5% 0px 10%;
    }
}

/* evaluator css */
@media screen and (max-width: 768px) and (min-width: 520px) {

    .content-header .header:nth-child(3), .info-container .content:nth-child(3) {
        display: none;
    }
    .info-container .content:first-child,.content-header .header:first-child {
        width: 3%;
    }
    .content-header .header:nth-child(5), .info-container .content:nth-child(5) {
        width: 8%;
    }
    .content-header .header:nth-child(6), .info-container .content:nth-child(6), .content-header .header:nth-child(7), .info-container .content:nth-child(7), .content-header .header:nth-child(8), .info-container .content:nth-child(8), .content-header .header:nth-child(10), .info-container .content:nth-child(10), .content-header .header:nth-child(11), .info-container .content:nth-child(11), .content-header .header:nth-child(12), .info-container .content:nth-child(12) {
        width: 8.5%;
    }
    .content-header .header:nth-child(4), .info-container .content:nth-child(4) {
        width: 8%;
    }
    .content-header .header:nth-child(4) p {
        margin-top: 2px;
    }
    .content-header .header:nth-child(9),.info-container .content:nth-child(9)  {
        width: 8.5%;
    }
    .evaluation-form .eval-info {
        width: calc(100% - 8px);
        height: calc(100% - 16px);
        margin: 8px 4px 8px 4px;
    }
    .eval-info-content .content-info {
        width: calc(148% + 15px);
        height: calc(100% - 40px);
        overflow: hidden;
    }
    .eval-info .eval-info-content {
        overflow:scroll;
    }
    .eval-info-content .content-header {
        width: 150%;
    }
    .educ-window {
        left: -48px;
    }
    .educ-window:before {
        left: 64px;
    }

}

/* message box */

.message{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
    /* border:1px solid red; */
}
.message-inner{
    width: 100%;
    height: 100%;
    position: relative;
}
.message-box{
    width: 100%;
    height: 30%;
    position: absolute;
    top: 35%;
    left: 0;
    background-color: #fff;
}
.message-box-icon{
    width: 100%;
    height: calc(40% - 24px);
    padding: 12px 0px;
    text-align: center;
}
.message-box-icon i{
    font-size: 4.4em;
    color: #cc1f1f;
}
.message-box-message{
    width: 100%;
    height: calc(35% - 24px);
    padding: 12px 0px;
    text-align: center;
    font-size: 2em;
}
.message-box-btn{
    width: 100%;
    height: calc(25% - 16px);
    padding: 8px 0px;
    text-align: center;
}
.message-box-btn button{
    width: calc(10% - 8px);
    height: 100%;
    border: 2px solid rgb(4, 80, 140);
    font-size: 1em;
    background-color: #fff;
    color: rgb(4, 80, 140);
    border-radius: 8px;
    cursor: pointer;
    outline: none;
    margin: 0px 4px;
    font-weight: bold;
}
.logout-yes{
    background-color: rgb(4,80,140) !important;
    color: #fff !important;
}